<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzq.dragonshopping.mapper.UserMapper">
    <!--登录查询-->
    <select id="selectByUnamePwdType" parameterType="UserEntity" resultType="UserEntity">
        select * from user
        WHERE user_name=#{user_name} and user_password=#{user_password}
    </select>
    <!--注册-->
    <insert id="insertUser" parameterType="UserEntity">
        INSERT INTO USER
         VALUES
         (
            #{user_id},
            #{user_name},
            #{user_sex},
            #{user_password},
            #{user_address},
            #{user_phone},
            #{user_headimgurl},
            #{user_status},
            #{user_type},
            #{user_money}
          )
    </insert>
</mapper>